.carousel-banner {
  height: 550px;
}
.swiper-slide img {
  width: 100%;
  object-position: center center;
  object-fit: cover;
  height: 100%;
}

@include tablet {
  .carousel-banner {
    height: 400px;
  }
}

@include mobile {
  .carousel-banner {
    height: 220px;
  }
}