.footer {
  background-color: $bg-footer;
  &__container {
    display: grid;
    grid-template-columns: 30% 25% 45%;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 5px 20px 10px;
    margin-top: 30px;
    overflow: hidden;
  }
  &__column {
    &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    &--logo {
      display: flex;
      justify-content: flex-start;
      margin: 0 0 10px 0;
      .ant-image > img {
        max-width: 150px;
      }
    }
    &--title {
      color: $txt-white;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
      margin: 0 0 10px 0;
    }
    &--content {
      color: $txt-second-color;
      margin: 5px 0;
    }
    &--search {
      max-width: 400px;
      margin: 10px 0 20px;
      input {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        height: 40px;
      }
      .ant-input-search-button {
        border-start-end-radius: 0 !important;
        border-end-end-radius: 0 !important;
        background-color: $bg-header-main;
        height: 40px;
        &:hover {
          background-color: $main-color;
        }
      }
    }
    &__social-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 15px;
      max-width: 100px;
      &--item {
        width: 40px;
        height: 40px;
        background: #fff;
        text-align: center;
        line-height: 40px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
        &::before {
          content: "";
          position: absolute;
          width: 80px;
          height: 80px;
          top: 90%;
          left: -110%;
          transform: rotate(45deg);
          transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
        }
        &:hover {
          .fa-facebook-f,
          .fa-square-instagram,
          .fa-youtube,
          .fa-tiktok {
            color: $txt-white;
          }
          &::before {
            width: 250px;
            height: 80px;
            top: 160%;
            left: -90%;
            transform: rotate(45deg);
          }
        }
        .fa-facebook-f,
        .fa-square-instagram,
        .fa-youtube,
        .fa-tiktok {
          z-index: 1;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .fa-facebook-f {
          color: $main-color;
        }
        .fa-square-instagram {
          color: #dc4a38;
        }
        .fa-youtube {
          color: #f44336;
        }
      }
      .facebook {
        &::before {
          background-color: $main-color;
        }
      }
      .instagram {
        &::before {
          background: radial-gradient(
            circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%
          );
        }
      }
      .youtube {
        &::before {
          background-color: #f44336;
        }
      }
      .tiktok {
        &::before {
          background-color: $txt-main-color;
        }
      }
    }
  }
  &__bottom {
    padding: 20px 0;
    max-width: 1200px;
    margin: auto;
    border-top: 1px solid $txt-second-color;
    text-align: center;
    color: $txt-white;
  }
}

@include miniDesktop {
  .footer {
    &__container {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      padding: 5px 20px 20px;
    }
    &__column {
      &--search {
        max-width: 350px;
      }
    }
  }
}

@include tablet {
  .footer {
    &__container {
      grid-template-columns: 50% 50%;
      gap: 20px 10px;
      padding: 5px 20px 20px;
    }
    &__column {
      &--search {
        max-width: 350px;
      }
      &--content {
        font-size: 12px;
      }
    }
    .box-three {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 2;
    }
    &__bottom {
      font-size: 12px;
      max-width: calc(100% - 40px);
    }
  }
}

@include mobile {
  .footer {
    &__container {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px 10px;
      padding: 5px 20px 20px;
    }
    &__column {
      &--search {
        max-width: 350px;
      }
      &--content {
        font-size: 12px;
      }
    }
    &__bottom {
      font-size: 12px;
      max-width: calc(100% - 40px);
    }
  }
}
