.modal-search {
  border: 1px solid;
  width: 420px;
  height: 100px;
  position: absolute;
  right: 40px;
  padding: 15px 20px;
  transform: translateY(75px);
  opacity: 0;
  transition: all 0.3 ease-in-out;
  &__title {
    text-align: center;
    text-transform: uppercase;
  }

}

.modal-search .show-modal {
  opacity: 1;
  visibility: visible;
}
