* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

body {
  font-family: "Rubik", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
  &:hover {
    color: #535bf2;
  }
}

img {
  max-width: 100%;
}

ol,
ul {
  padding-left: 0;
}

.text-white {
  color: $txt-white;
}