.temp-client {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  &__boby {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    position: absolute;
    top: 70px;
  }
}