$bg-header-main: #040b69;
$main-bg: #fff0;
$main-bg-admin: #1a2035;
$main-color: #4267b2;
$main-border: #dfe3e8;
$bg-footer: #24272e;

$txt-main-color: #000;
$txt-second-color: #8d8d8d;
$txt-white: #fff;
$txt-white-opacity: #ffffffc7;
$btn-main-bg: $main-color;
$btn-main-color: #fff;
$bg-button-hover: #d8d8d8;

$header-height: 170px;
$header-tablet-height: 70px;
$header-mobile-height: 40px;
$header-shrink-height: 100px;

$box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);

$colors: (
  "orange": #fbb96b,
  "pink": #fe7e73,
  "white": #fff,
  "black": #000,
  "main": $main-color,
);

$mobile-width: 426px;
$tablet-width: 768px;
$desktop-width: 1024px;

$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8);